html, body {
	position: relative;
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	background-color: #111;
	color: #dcdcdc;
	/*font-family: monospace, sans-serif;*/
	font-family: sans-serif;
	font-size: 10pt;
	height: 100%;
	/*width: 100%;*/
	min-width: 320px;
}

#container {
	float: left;
	height: 100%;
	white-space: nowrap;
	min-width: 320px;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.column {
	float: left;
	border-right: 1px solid #aaa;
	height: 100%;
	width: 320px;
	overflow-y: auto;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.column a {
	position: relative;
	display: block;
	padding: 8px;
	border-bottom: 1px solid #999;
	color: #dcdcdc;

}
.column a.current {
	background-color: #333;
}

.column .content {
	padding: 10px;
}

.spacer {
	height: 30px;
}

#footer {
	position: fixed;
	background-color: #111;
	border-top: 1px solid #aaa;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	white-space: nowrap;
}

#audio {
	width: 100%;
}

.arrow:before {
	position: absolute;
	right: 8px;
	content: '\2192';
}

pre {
	overflow-x: auto;
	white-space: normal;
	line-height: 2;
}

blockquote, .dark {
	color: #777;
}

/* convenience */
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.not-selectable {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}
