<h1><%= name %></h1>
<a target="_blank" class="md-icon" href="https://github.com/bahamas10/music-directory">
<img src="/icon.png" class="md-icon"></img>
</a>
<blockquote><%= description %></blockquote>

<h2>about</h2>

<pre>
<span class="dark">version:</span> <%= version %><br />
<span class="dark">author:</span> Dave Eddy (<a href="https://github.com/bahamas10">github</a>)<br />
<span class="dark">license:</span> <%= license %>
</pre>
