<h1>system</h1>

<pre>
<span class="dark">node:</span> <%= version %><br />
<span class="dark">pid:</span> <%= pid %><br />
<span class="dark">started:</span><br /><%= started %><br />
<span class="dark">music dir:</span><br /><%= cwd %>
</pre>
